.content{
    margin: 20px;
    .fila{
        margin-bottom: 30px;
        mat-card{
            display: inline-block;
            height: 30px;
            vertical-align: middle;
            margin: 0 3%;
            mat-card-header{
                h2{
                    margin: 0;
                    font-family: sans-serif;
                    font-weight: 500;
                }
            }
            mat-card-actions{
                padding: 0;
                .new{
                    background-color: #18d618;
                    color: whitesmoke;
                }
                .conf{
                    background-color: #18a5d6;
                    color: whitesmoke;
                }
                button{
                    span{
                        font-size: xx-large;
                    }
                }
            }
        }
        .first{
            width: 70%;
        }
        .second{
            width: 20%;
        }
    }
}