.table, .graphics{
    @media screen and(min-width: 40em){
        width: 40%;
        display: inline-block;
        vertical-align: top;
        margin-left: 5%;
    }
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 30px;
}
mat-card{
    mat-card-header{
        h2{
            font-family: unset;
            font-weight: 400;
            margin: 10px 0;
        }
    }
    mat-card-content{
        font-weight: 500;
        font-size: medium;
        margin: 10px 0 0 0;
        text-align: justify;
        font-family: inherit;
    }
}
.graphicBarr{
    @media screen and(min-width: 40em){
        width: 12%;
    }
    width: 80%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    background: #333333;
    color: #F8F8F8;
    mat-card-actions{
        margin: auto;
        button{
            margin: auto;
        }
    }
}