<mat-sidenav-container>
  <mat-sidenav mode="push" [(opened)]="opened">
      <p (click)="route('')">Inicio</p>
      <a href=""></a>
  </mat-sidenav>
  <mat-sidenav-content>
      <header>
          <mat-icon mat-button color="primary" (click)="opened=!opened">menu</mat-icon>
          <div class="auth">
              <button mat-button color="primary" (click)="signIn()">Iniciar Sesión</button>
              <button mat-button color="primary" (click)="signUp()">Registro</button>
          </div>
      </header>
      <div><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
