mat-card-header{
    font-size: xx-large;
    font-family: inherit;
    font-weight: 300;
    margin-bottom: 20px;
}
mat-form-field{
    width: 100%;
}
.password{
    display: inline-block;
    margin-left: 1%;
    width: 48%;
}
mat-card-actions{
    width: 35%;
    margin: auto;
    button{
        color: whitesmoke;
        font-family: sans-serif;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        font-size: large;
    }
    #continue{
        background-color: #D6C15A;
    }
    #cancel{
        background-color: #ff2424;
    }
}