<mat-card-header>
    <p>Grafico de Barras</p>
</mat-card-header>
<mat-card-content>
    <canvas *ngIf="!valid" baseChart [datasets]="ChartDataV" [labels]="ChartVenta"
        [colors]="ChartColorsV" [chartType]="ChartType" [plugins]="ChartPlugins"></canvas>
    <canvas *ngIf="valid" baseChart [datasets]="ChartDataC" [labels]="ChartCompra"
        [colors]="ChartColorsC" [chartType]="ChartType" [plugins]="ChartPlugins"></canvas>
</mat-card-content>
<mat-card-actions>
    <button mat-stroked-button (click)="valid=false">Ventas</button>
    <button mat-stroked-button color="warn" (click)="valid=true">Compras</button>
</mat-card-actions>