<div class="example-container mat-elevation-z8">
    <table mat-table id="comprasTable" matSort [dataSource]="dataSource">
  
      <ng-container matColumnDef="date">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="cant">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cant}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>